#divOut{
    height: 90vh;
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-left: 15px;
}
#card{
    height: 90vh;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
}

