#divOut{
    height: 100vh;
    width: 100%;
    display: block;
}
#buttonLogout{
    font-size: 14px;
    margin: 2px;
}
#divGroupComponent{
    /* height: 100vh; */
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding-bottom: 50px; */
}